@model SpokeToTheManager.Models.Recurso

@{
    ViewData["Title"] = "Details";
}

<div class=" text-center">
    <h1>Detalles</h1>
</div>
<div class="card" style="
     margin-left: 15rem;
     margin-right:10%;
     margin-top: 16px;">
    <div class="text-center">
        <h4>Recurso</h4>
    </div>
    <hr />
    <dl class="row" style="margin-left:5rem ;">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.stock)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.valor_unidad)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.valor_unidad)
        </dd>
    </dl>

<div>
    <div style="
     margin-left: 8rem;
     margin-right: 8rem;
     margin-bottom: 16px;">
        <div class=" btn btn-warning">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>|
        <div class=" btn btn-primary">
            <a asp-action="Index"><FONT COLOR="white">volver a la lista</FONT></a>
        </div>
        </div>
</div>
</div>