@model IEnumerable<SpokeToTheManager.Models.TipoEgreso>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">Tipo de egreso</h1>
<div style="
          margin-left: 16rem">
    <p>
        <a asp-action="Create">Crear nueva</a>
    </p>
</div>
<div class="card " style="
     margin-left: 15rem;
    margin-right:80px;
     margin-top: 16px;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>