@model SpokeToTheManager.Models.ResumenModel
@* @{
ViewData["Title"] = "Index";
} *@
<div class="container-fluid">
    <h1 class="text-center">Resumen mensual</h1>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-primary"><i class="fas fa-user"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Usuarios</span>
                <span class="info-box-number">@ViewBag.usuarios</span>
            </div>

        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Socios</span>
                <span class="info-box-number">@ViewBag.socios</span>
            </div>

        </div>

    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-orange"><i class="fas fa-copy"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Rubros</span>
                <span class="info-box-number">@ViewBag.rubros</span>
            </div>

        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-inbox"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Cantidad de Recursos</span>
                <span class="info-box-number">@ViewBag.recursos</span>
            </div>

        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-lime"><i class="fas fa-money-bill"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Cantidad de Ingresos</span>
                <span class="info-box-number">@ViewBag.cantIngresos</span>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fas fa-money-check-alt"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Cantidad de Egresos</span>
                <span class="info-box-number">@ViewBag.cantEgresos</span>
            </div>

        </div>

    </div>
     <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-lime"><i class="fas fa-calendar-plus"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Ingresos Mensuales</span>
                <span class="info-box-number">@ViewBag.ingMensual</span>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fas fa-calendar-minus"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Egresos Mensuales</span>
                <span class="info-box-number">@ViewBag.egMensual</span>
            </div>

        </div>

    </div>


</div>
<div class="row">
    <div class="col-md-4">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>
                    @ViewBag.totalIngresos
                </h3>
                <p>Total de ingresos</p>
            </div>
            <a class="small-box-footer" asp-area="" asp-controller="Ingresos" asp-action="Index">Lista ingresos
                <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>
                    @ViewBag.totalMes
                </h3>
                <p>Total del mes</p>
            </div>
            <a onClick="expandirResumen()" class="small-box-footer">Mas informacion
                <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>
                    @ViewBag.totalEgresos
                </h3>
                <p>Total de egresos</p>
            </div>
            <a class="small-box-footer" asp-area="" asp-controller="Egreso" asp-action="Index">Lista egresos
                <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card collapsed-card" id="IngresosCard">
            <div class="card-header">
                <h3 class="card-title">Ingresos</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Valor
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Fecha
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ingresos)
                        {
                            <tr>
                                <td>
                                    @item.valor
                                </td>
                                <td>
                                    @item.tipo
                                </td>
                                <td>
                                    @if (item.fecha.HasValue)
                                    {
                                        <text>@item.fecha.Value.ToString("yyyy-MM-dd")</text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>
                    $ @ViewBag.mesAnterior
                </h3>
                <p>Total del mes anterior</p>
            </div>
            <div class="inner">
                <h3>
                    $ @ViewBag.diferencia
                </h3>
                <p>Diferencia con el mes anterior</p>
            </div>
            <div class="inner">
                <h3>
                    @ViewBag.porcentaje %
                </h3>
                <p>Porcentaje de diferencia con el mes anterior</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card collapsed-card" id="EgresosCard">
            <div class="card-header">
                <h3 class="card-title">Egresos</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Valor
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Fecha
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.egresos)
                        {
                            <tr>
                                <td>
                                    @item.valor
                                </td>
                                <td>
                                    @item.tipo
                                </td>
                                <td>
                                    @if (item.fecha.HasValue)
                                    {
                                        <text>@item.fecha.Value.ToString("yyyy-MM-dd")</text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function expandirResumen() {
        if ($('#IngresosCard').hasClass('collapsed-card')) {
            $('#IngresosCard').removeClass('collapsed-card');
        }
        else {
            $('#IngresosCard').addClass('collapsed-card');
        }
        if ($('#EgresosCard').hasClass('collapsed-card')) {
            $('#EgresosCard').removeClass('collapsed-card');
        }
        else {
            $('#EgresosCard').addClass('collapsed-card');
        }
    }
</script>