@model IEnumerable<SpokeToTheManager.Models.TipoRecurso>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">Tipo de recurso</h1>
<div style ="
          margin-left: 16rem" >
    <a class="btn btn-app bg-info" asp-action="Create">
        <i class="fas fa-folder-plus"></i>
        Crear nuevo
    </a>
</div>
    <div class="card " style="
     margin-left: 15rem;
    margin-right:80px;
     margin-top: 16px;">
    <div class="card-body p-0">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
                        <td>
                            <a class="btn  btn-primary btn-sm " asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"> </i>   Editar</a>
                            <a class="btn  btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"> </i> Detalles</a>
                            <a class="btn  btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"> </i>  Eliminar</a>
                        </td>
                       
        </tr>
}
    </tbody>
</table>
    </div>

</div>
