@model SpokeToTheManager.Models.Socio

@{
    ViewData["Title"] = "Delete";
}
<div class=" text-center">
    <h1>Eliminar socio</h1>
</div>
<div class="card   row justify-content-center align-item-center" style="
     margin-left: 20%;
     margin-right:20%;
     margin-top: 16px;">
    <div><a class=" text-center"><h4>Al confirmar, eliminara el siguiente socio:</h4></a></div>

    <dl class="row" style="margin-left:5rem ; ">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Rubro)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Rubro.Nombre)
        </dd>
    </dl>
    <div style="
     margin-left: 8rem;
     margin-right: 8rem;
     margin-bottom: 16px;" class="row justify-content-md-center">
        <form asp-action="Delete" style="   margin-left: 5rem;">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <div class=" btn btn-primary">
                <a asp-action="Index"><FONT COLOR="white">Volver a Socios</FONT> </a>
            </div>
        </form>
    </div>
</div>