@model SpokeToTheManager.Models.Socio

@{
    ViewData["Title"] = "Delete";
}

<div class=" text-center">
    <h1>Eliminar usuario</h1>

    <h3>Si confirma, eliminara el siguiente usuario: </h3>
</div>

<div class="card" style="
     margin-left: 20%;
     margin-right:20%;
     margin-top: 16px;">
    <hr />
    <dl class="row" style="margin-left:5rem ; ">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Rubro)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Rubro.Id)
        </dd>
    </dl>
<div style="
     margin-left: 8rem;
     margin-right: 8rem;
     margin-bottom: 16px;">
        <form asp-action="Delete" style="   margin-left: 5rem;">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="borrar" class="btn btn-danger" /> |
                <div class=" btn btn-primary">
                    <a asp-action="Index"><FONT COLOR="white">volver a la lista</FONT> </a>
                </div>
        </form>
    </div>
</div>