@model SpokeToTheManager.Models.Socio

@{
    ViewData["Title"] = "Details";
}

<div class=" text-center">
    <h1>Detalles del socio</h1>
</div>
<div class="card" style="
     margin-left: 15rem;
     margin-right:10%;
     margin-top: 16px;">
    <dl class="row" style="margin-left:5rem ;">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Rubro)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Rubro.Nombre)
        </dd>
    </dl>

</div>
<div class="container" style="padding-bottom:1rem">
    <div class="row justify-content-md-center">
        <div class=" btn btn-primary">
            <a asp-action="Index">
                <FONT COLOR="white">Volver a Socios</FONT>
            </a>
        </div>
    </div>
</div>
