@model IEnumerable<SpokeToTheManager.Models.TipoIngreso>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Tipo de Ingreso</h1>
<div style="
          margin-left: 16rem">
    <p>
        <a asp-action="Create">Crear nuevo tipo de ingreso</a>
    </p>
</div>

<div class="card " style="
     margin-left: 15rem;
    margin-right:80px;
     margin-top: 16px;">
    <div class="card-header">
        <h3 class="card-title">Tipos de ingreso</h3>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>