@model IEnumerable<SpokeToTheManager.Models.Rubro>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Rubros</h1>
<div>
    <a class="btn btn-app bg-info" asp-action="Create">
        <i class="fas fa-folder-plus"></i>
        Crear nuevo
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card ">
                <div class="card-body">
                    <div id="example1-wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <table class="table table-bordered table-striped dataTable dtr-inline">
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_desc" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" aria-label="Rendering engine: activate to sort column ascending"
                                                    aria-sort="descending">@Html.DisplayNameFor(model => model.Nombre)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="dtr-control sorting_1">
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                <a class="btn  btn-primary btn-sm " asp-action="Edit" asp-route-id="@item.Id"><i
                                                        class="fas fa-edit"> </i> Editar</a>
                                                <a class="btn  btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id"><i
                                                        class="fas fa-info"> </i> Detalles</a>
                                                <a class="btn  btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i
                                                        class="fas fa-trash"> </i> Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



