@model SpokeToTheManager.Models.Egreso

@{
    ViewData["Title"] = "Detalles";
}
<div class="text-center">
    <h1>Detalles</h1>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h4>Egreso</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Valor:</th>
                        <td>@Html.DisplayFor(model => model.valor)</td>
                    </tr>
                    <tr>
                        <th>Acreditado:</th>
                        <td>@Html.DisplayFor(model => model.acreditado)</td>
                    </tr>
                    <tr>
                        <th>Observaciones:</th>
                        <td>@Html.DisplayFor(model => model.observaciones)</td>
                    </tr>
                    <tr>
                        <th>Tipo:</th>
                        <td>@Html.DisplayFor(model => model.tipo)</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <div class="btn btn-primary btn-back">
                    <a class="btn-edit" asp-action="Edit" asp-route-id="@Model.Id"><font color="white">Editar</font>
                    </a></a>
                </div>
                <div class="btn btn-primary btn-back">
                    <a class="btn-back" asp-action="Index">
                        <font color="white">Volver a la lista</font>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
