@model IEnumerable<SpokeToTheManager.Models.Egreso>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">Egreso</h1>
<div style="
          margin-left: 16rem">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</div>
<div class="card " style="
     margin-left: 15rem;
    margin-right:80px;
     margin-top: 16px;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acreditado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.acreditado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @if (item.fecha.HasValue)
                   {
                       <text>@item.fecha.Value.ToString("yyyy-MM-dd")</text>
                   }
           </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>