@model IEnumerable<SpokeToTheManager.Models.User>

@{
    ViewData["Title"] = "Index";
}

<style>
    .text-center {
        margin-bottom: 20px;
    }

    .card {
        margin-left: 15rem;
        margin-right: 80px;
        margin-top: 16px;
    }

    .card-header {
        color: #fff;
    }

    .card-title {
        margin: 0;
        padding: 10px;
        font-size: 1.25rem;
    }

    .card-body {
        padding: 0;
    }

    .table {
        margin-bottom: 0;
    }

        .table th,
        .table td {
            vertical-align: middle;
        }

        .table th {
            background-color: #f8f9fa;
            color: #000;
            font-weight: bold;
            background-color:powderblue;
        }

        .table td {
            background-color: #fff;
        }

            .table td a {
                margin-right: 5px;
            }

</style>
<h1 class="text-center">Usuarios</h1>

<div style="margin-left: 16rem">
    <a class="btn btn-app bg-info" asp-action="Create">
        <i class="fas fa-folder-plus"></i>
        Crear nuevo
    </a>
</div>
<div class="card ">
    <div class="card-body p-0">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a class="btn  btn-primary btn-sm " asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"> </i>   Editar</a>
                            <a class="btn  btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"> </i> Detalles</a>
                            <a class="btn  btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"> </i>  Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
