@model SpokeToTheManager.Models.Ingreso

@{
    ViewData["Title"] = "Details";
}
<div class=" text-center">
<h1>Detalles</h1>
</div>
<div class="card" style="
     margin-left: 15rem;
     margin-right:10%;
     margin-top: 16px;">
    <div class="text-center">
        <h4>Ingreso</h4>
    </div>
    <hr />
    <dl class="row" style="margin-left:5rem ;">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.acreditado)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.acreditado)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.observaciones)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.tipo)
        </dd>
    </dl>


    <div style="
     margin-left: 8rem;
     margin-right: 8rem;
     margin-bottom: 16px;">
        <div class=" btn btn-warning">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
        </div>|
            <div class=" btn btn-primary">
            <a asp-action="Index"><FONT COLOR="white">volver a la lista</FONT></a>
            </div>
    
</div>
</div>